body {
  height: 100%;
  margin: 0;
  background-color: blanchedalmond;
  
}


h1{
    font-family: Arial, Helvetica, sans-serif;
}

ul, li{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}



img{
    height: auto;
    width: 205px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
   
}