body {
  height: 100%;
  min-width: none;
  margin: 0;
  background-color: blanchedalmond;
 
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: auto;
}

ul, li{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
   
}

li{
    padding: 20px;
    margin: 10px;
}



img{
    height: auto;
    width: 205px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
   
}